<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="Solr">
    <services>
      <register serviceType="BRM.Indexing.Domain.ISolrCircuitBreakerPolicyProvider, BRM.Indexing.Domain" 
                implementationType="BRM.Indexing.SitecoreSolrExtensions.CircuitBreaker.SolrCircuitBreakerPolicyProvider, BRM.Indexing.SitecoreSolrExtensions" />
    </services>
    <pipelines>
      <initialize>
        <processor type="Sitecore.ContentSearch.SolrProvider.Pipelines.Loader.InitializeSolrProvider, Sitecore.ContentSearch.SolrProvider">
          <patch:attribute name="type">BRM.Indexing.SitecoreSolrExtensions.Pipeline.InitialiseSolrProvider, BRM.Indexing.SitecoreSolrExtensions</patch:attribute>
        </processor>
      </initialize>
    </pipelines>
    <scheduling>
      <!-- disable this job, causes latency spike in Solr -->
      <agent type="Sitecore.ContentSearch.Tasks.Optimize">
        <patch:attribute name="interval">00:00:00</patch:attribute>
      </agent>
    </scheduling>
    <settings>
      <!-- New settings used in extended provider -->
      <setting name="ContentSearch.Solr.CircuitBreaker.ConsecutiveExceptionsBeforeBreaking" value="2" />
      <setting name="ContentSearch.Solr.CircuitBreaker.DurationInMins" value="1" />
      <setting name="ContentSearch.Solr.IndexingInstance" value="" />
      <!-- End of New settings used in extended provider -->
      <setting name="ContentSearch.Indexing.DisableDatabaseCaches">
        <patch:attribute name="value">true</patch:attribute>
      </setting>
      <setting name="ContentSearch.Solr.OptimizeOnRebuild.Enabled" value="false" />
    </settings>
  </sitecore>
</configuration>