<?xml version="1.0" encoding="utf-8"?>
<!--

    Purpose: This example file demonstrates advanced settings for tuning connection to Solr.
	
	To enable this include file, rename it to have a ".config" extension.
	
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore search:require="solr">
    <contentSearch>
      <indexConfigurations>

        <!-- HTTP WEB REQUEST FACTORY
             Allows you to override the http web request factory. This factory class is responsible for creating IHttpWebRequest's.
        -->
        <solrHttpWebRequestFactory type="HttpWebAdapters.HttpWebRequestFactory, SolrNet" />

        <!-- SOLR CONNECTION CONFIGURATIONS
		     Allows to configure connections to Solr which are used for different types of operations.
        -->
        <solrConnectionConfigurations>

          <!-- Connection configuration used for the CoreAdmin operations. -->
          <solrConnectionConfiguration name="admin">
            <timeout>60000</timeout>
            <!-- This connection type requires the 'usePost' element is set to 'false'. -->
            <usePost>false</usePost>
          </solrConnectionConfiguration>

          <!-- Connection configuration used for the Query operations. -->
          <solrConnectionConfiguration name="query">
            <timeout>5000</timeout>
            <usePost>false</usePost>
          </solrConnectionConfiguration>

          <!-- Connection configuration used for the rest of operations. -->
          <solrConnectionConfiguration name="default">
            <timeout>60000</timeout>
            <!-- This connection type requires the 'usePost' element is set to 'false'. -->
            <usePost>false</usePost>
          </solrConnectionConfiguration>
        </solrConnectionConfigurations>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>
